target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.mvn/
mvnw
mvnw.cmd
!mvnw.cmd
!mvnw

.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

*~

*.log
logs/
!example.log
*.log.*
*.log.*

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.db
*.sqlite
*.h2.db

*.orig
*.classpath
*.project
.cache/
.npm/
.venv/

node_modules/

*.backup
*.bak

/src/main/resources/database.properties
/.env
